*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

input{
  outline: none;
  border: none;
}

input:disabled{
  background-color: inherit;
}

input:not([type=checkbox]):not([type=radio]), select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
}

ul, ol{
  list-style-type: none;
}
